//
// Common variables
//

// Colors
@bg:					#eee;
@lift:					#fff; // lift elements off the page
@primary:				#333; // primary offset color

@text:					#222;
@text-rgba:				rgba(0, 0, 0, 0.87);
@text-light:			#777;
@text-light-rgba:		rgba(0, 0, 0, 0.54);

@border:				#ddd;

// Typography
@font:					"Noto Sans", Helvetica, Arial, sans-serif;

@normal:				400;
@bold:					700;

@font-sml:				14px;
@font-base:				18px;
@font-lead:				24px;
@font-header:			36px;
@font-giant:			48px;
@font-octicon:			16px;
@font-octicon-lg:		32px;

@line-sml:				32px;
@line-base:				32px;
@line-lead:				32px;
@line-header:			64px;
@line-giant:			64px;

// Spacings
@half:					8px;
@base:					16px;
@double:				32px;
